// Use the params to define reference files, directories, and CLI options
params {

    // Annotation parameters (used for gene count normalization)
    input_dir = "${projectDir}/data/annotation_counts_table.csv" 
    annotation_dir  = "${projectDir}/annotations_KEGG"           // directory containing .tab files
    metadata   = "${projectDir}/data/mycocosm_database.csv"      // metadata CSV
    output_dir      = "${projectDir}/results/annotation_output"  // directory for normalized output
    annotation_type = null                                       // optional; will be auto-detected if null

    // Directories
    outdir = "${projectDir}/results/"
    refdir = "${projectDir}/refs/"
}

profiles {

    conda {
        conda.enabled = true
    }

    cluster {
        process {
            executor = 'sge'
            clusterOptions = '-P bf528'
            penv = 'omp'

            withLabel: process_single {
                cpus = 1
            }

            withLabel: process_low {
                cpus = 4
            }

            withLabel: process_medium {
                cpus = 8
            }

            withLabel: process_high {
                cpus = 8
                clusterOptions = "-P bf528 -l mem_per_core=8G"
            }
        }
    }

    local {
        process.executor = 'local'
    }
}

// Change the queueSize to enable more parallel jobs (shared resource)
executor {
    $sge {
        queueSize = 8
    }
    $local {
        cpus = 1
    }
}

// Default options
resume = true
